#----------------
#     Folders
#----------------
.idea/
/storage/*.key
/public/storage
node_modules/
vendor/
/public/app
/public/app/*
/icfls
/icfls/*
/suc
/suc/*
/test
/test/*
/lpc
/lpc/*
/.well-known
/.well-known/*
/cgi-bin
/cgi-bin/*
/testdepoloy/
testdepoloy/*
#----------------
#     Files
#----------------
*.env
package-lock.json
composer.lock
public/mix-manifest.json
*.zip
*.ini
*.txt
*.sthml
400.shtml
401.shtml
403.shtml
404.shtml
413.shtml
500.shtml
cp_errordocument.shtml
yarn-error.log
yarn.lock
laravel-echo-server.json
